# Data 구조
#### -Data를 가져오면 먼저 확인해야할 사항중 하나!
#### -Data가 어떻게 구성되있고 어떤 형태이고 어떤 타입인지 등등

# Data : 정형데이터 + 비정형데이터로 구성
#### -정형 데이터 : excel(표)형태의 데이터, 수치형 데이터 등등
#### ->보통 실무에서 많이 사용함

#### -비정형 데이터 : 사진, 소리 등등

# Data Type
#### 수치형(Numeric)
#### -이산형 : 변수의 값을 셀 수 있는 자료
#### -연속형 : 모든 구간의 값을 가질 수 있는 숫자 자료

#### 범주형(Character)
#### -명목형 : 데이터간의 크기와 순서가 존재하지 않는 자료
#### -순서형 : 특정 기준에 따라 순서의 의미를 갖는 자료

In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('C:/Users/Galaxy/Desktop/code/데이터 전처리 스터디/실습data/Data01.csv')
print(df1.shape)
df1.head()

(15000, 7)

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [8]:
df1.describe() #수치형 데이터 확인

                바코드          입고수량          출고수량
count  1.499200e+04  15000.000000  15000.000000
mean   1.294839e+13     58.144533      7.205200
std    5.243929e+12    348.398250     19.819656
min    6.414100e+12      0.000000      0.000000
25%    8.801046e+12      0.000000      0.000000
50%    8.801047e+12      0.000000      1.000000
75%    1.880105e+13      0.000000      4.000000
max    2.880105e+13   9777.000000    308.000000

# 범주형 데이터 확인
#### .uniqe() : 범주형 항목 확인
#### .value_counts() : 범주형 데이터 항목 갯수

In [9]:
df1['카테고리'].unique()

array(['세탁세제', '헤어케어', '주방세제', 'ST', 'F&B', '덴탈케어', '기타', '매입브랜드'],
      dtype=object)

In [10]:
df1['카테고리'].value_counts()

세탁세제     4265
덴탈케어     3115
헤어케어     2750
ST       1732
주방세제     1709
F&B      1038
매입브랜드     238
기타        153
Name: 카테고리, dtype: int64

In [12]:
df1['카테고리'].describe()    # 해당컬럼에 대한 범주형 통계랑확인
# count : 데이터 개수
# unique : 항목 개수
# top : 가장많은 항목
# freq : top의 개수

count     15000
unique        8
top        세탁세제
freq       4265
Name: 카테고리, dtype: object

In [13]:
df1[['발주가능상태','카테고리','상품명']].describe()

       발주가능상태   카테고리     상품명
count   15000  15000   15000
unique      3      8     528
top      발주가능   세탁세제  V2_114
freq    14700   4265      47

# 범주형 데이터만 뽑아내기

In [15]:
df1.describe().columns.tolist()

['바코드', '입고수량', '출고수량']

In [16]:
df1.columns.tolist()

['날짜', '상품명', '바코드', '발주가능상태', '입고수량', '카테고리', '출고수량']

In [22]:
total_list = df1.columns.tolist() # 전체 컬럼 리스트로 만들기
numeric_list = df1.describe().columns.tolist() # numric 컬럼
object_list = (set(total_list)-set(numeric_list)) # 전체 컬럼 - numeric컬럼 = object컬럼

In [25]:
df1[object_list].describe()    # 범주형 데이터만 뽑아서 통계량 확인하기

       발주가능상태     상품명   카테고리          날짜
count   15000   15000  15000       15000
unique      3     528      8          84
top      발주가능  V2_114   세탁세제  2019-05-26
freq    14700      47   4265         226

* 정렬

In [27]:
df1.sort_values(by='입고수량')    # 내림차순은 ascending='False' 추가

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
7499   2019-06-23  V2_284  1.880105e+13   발주가능     0   F&B     0
8528   2019-06-28  V2_289  1.880105e+13   발주가능     0  덴탈케어     0
8529   2019-06-28  V2_290  1.880105e+13   발주가능     0  덴탈케어     0
8530   2019-06-28  V2_291  1.880105e+13   발주가능     0  주방세제     0
8531   2019-06-28  V2_292  1.880105e+13   발주가능     0  주방세제     0
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]

In [29]:
df1.sort_values(by=['입고수량','출고수량'], ascending=[True, False])

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
9091   2019-07-01   V2_86  1.880105e+13   발주가능     0  세탁세제   305
5005   2019-06-10   V2_86  1.880105e+13   발주가능     0  세탁세제   266
3831   2019-06-04   V2_86  1.880105e+13   발주가능     0  세탁세제   258
5200   2019-06-11   V2_86  1.880105e+13   발주가능     0  세탁세제   256
3218   2019-06-01   V2_86  1.880105e+13   발주가능     0  세탁세제   250
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]