In [1]:
import pandas as pd

In [2]:
# 객체 생성
df1=pd.read_csv('C:/Users/Galaxy/Desktop/code/데이터 전처리 스터디/실습data/example.csv')
print(df1.shape)
df1.head()

(705571, 20)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09

# 데이터 전처리-2 복습

In [4]:
df1.columns

Index(['공급일자', '요일', '공급월', '공급주차', '회원번호', '조합원상태', '물품대분류', '물품중분류', '물품소분류',
       '물품명', '구매수량', '주소-구', '주소-동', '성별', '연령', '연령대', '구매금액', '구매매장',
       '반품_원거래일자', '구매시각'],
      dtype='object')

In [5]:
df1.index

RangeIndex(start=0, stop=705571, step=1)

In [6]:
df1.values

array([['2018-01-02', '화', 1, ..., '매장C', nan, '10:04'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ['2018-01-02', '화', 1, ..., '매장C', nan, '10:05'],
       ...,
       ['2018-06-30', '토', 6, ..., '매장A', nan, '14:37'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '18:04'],
       ['2018-06-30', '토', 6, ..., '매장A', nan, '16:36']], dtype=object)

In [9]:
df1.describe() # 숫자형 데이터들만 뽑기

,공급월,공급주차,회원번호,구매수량,연령,구매금액,반품_원거래일자
count,705571.000000,705571.000000,7.055710e+05,705571.000000,705538.000000,7.055710e+05,1.123400e+04
mean,3.510817,13.500022,7.390639e+08,1.138203,50.756234,1.092004e+04,2.018034e+07
std,1.719153,7.517818,4.251288e+08,0.754448,11.418854,1.670323e+04,5.229237e+02
min,1.000000,1.000000,1.876416e+07,-50.000000,1.000000,-6.662160e+05,2.017121e+07
25%,2.000000,7.000000,3.906917e+08,1.000000,42.000000,4.116000e+03,2.018021e+07
50%,4.000000,13.000000,7.456573e+08,1.000000,49.000000,7.275000e+03,2.018040e+07
75%,5.000000,20.000000,1.045186e+09,1.000000,58.000000,1.263500e+04,2.018052e+07
max,6.000000,26.000000,1.670621e+09,50.000000,108.000000,2.751014e+06,2.018063e+07

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705571 entries, 0 to 705570
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      705571 non-null  object
 1   요일        705571 non-null  object
 2   공급월       705571 non-null  int64
 3   공급주차      705571 non-null  int64
 4   회원번호      705571 non-null  int64
 5   조합원상태     705571 non-null  object
 6   물품대분류     705571 non-null  object
 7   물품중분류     705571 non-null  object
 8   물품소분류     705571 non-null  object
 9   물품명       705571 non-null  object
 10  구매수량      705571 non-null  float64
 11  주소-구      705571 non-null  object
 12  주소-동      705571 non-null  object
 13  성별        705566 non-null  object
 14  연령        705538 non-null  float64
 15  연령대       705538 non-null  object
 16  구매금액      705571 non-null  int64
 17  구매매장      705571 non-null  object
 18  반품_원거래일자  11234 non-null   float64
 19  구매시각      705571 non-null  object
dtypes: float64(3), int64(4), object(13)
memory usage: 107.7+ MB

In [10]:
# 구매금액에 대한 데이터를 Series형태
df1['구매금액']

0         22207
1          4977
2          7083
3           766
4          4403
          ...
705566     9189
705567     5169
705568     7466
705569     3542
705570     1914
Name: 구매금액, Length: 705571, dtype: int64

In [11]:
# 구매금액에 대한 데이터를 DataFrame형태
df1[['구매금액']]

         구매금액
0       22207
1        4977
2        7083
3         766
4        4403
...       ...
705566   9189
705567   5169
705568   7466
705569   3542
705570   1914

[705571 rows x 1 columns]

# 데이터 행 추출 - .iloc[index]

In [13]:
# 첫번째 행 데이터 추출
df1.iloc[0]

공급일자         2018-01-02
요일                    화
공급월                   1
공급주차                  1
회원번호          272369856
조합원상태              정상회원
물품대분류                과실
물품중분류                과일
물품소분류                사과
물품명         사과/유(1.5kg)
구매수량                  1
주소-구                수지구
주소-동               풍덕천동
성별                    여
연령                   45
연령대                 40대
구매금액              22207
구매매장                매장C
반품_원거래일자            NaN
구매시각              10:04
Name: 0, dtype: object

In [17]:
# 0~10번째 행 데이터 추출
df2=df1.iloc[0:11]
print(df2.shape)
df2

(11, 20)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
1,2018-01-02,화,1,1,1506656256,정상회원,채소,버섯,느타리버섯,느타리버섯(300g),1.0,수지구,풍덕천동,여,36.0,30대이하,4977,매장C,NaN,10:05
2,2018-01-02,화,1,1,1506656256,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,36.0,30대이하,7083,매장C,NaN,10:05
3,2018-01-02,화,1,1,1023108864,정상회원,반찬,두부/유부,두부,연두부(100g),1.0,수지구,풍덕천동,여,36.0,30대이하,766,매장C,NaN,10:08
4,2018-01-02,화,1,1,1476143616,정상회원,간식,빵,"식빵, 식사대용",아침빵(240g/8개)/매장,1.0,수지구,풍덕천동,여,34.0,30대이하,4403,매장C,NaN,10:09
5,2018-01-02,화,1,1,716128320,정상회원,축산물,알,유정란,유정란/매장용(10알/국내산),1.0,수지구,풍덕천동,여,51.0,50대,7083,매장C,NaN,10:10
6,2018-01-02,화,1,1,743192512,정상회원,채소,과일채소,딸기,딸기/(500g),1.0,수지구,성복동,여,51.0,50대,17038,매장C,NaN,10:12
7,2018-01-02,화,1,1,743192512,정상회원,채소,잎/줄기채소,어린잎채소,어린잎채소(100g),2.0,수지구,성복동,여,51.0,50대,11104,매장C,NaN,10:12
8,2018-01-02,화,1,1,743192512,정상회원,채소,양념채소,생강,생강(300g),1.0,수지구,성복동,여,51.0,50대,7083,매장C,NaN,10:12
9,2018-01-02,화,1,1,743192512,정상회원,채소,쌈채소류,쌈케일,쌈케일(150g),1.0,수지구,성복동,여,51.0,50대,2584,매장C,NaN,10:12
10,2018-01-02,화,1,1,1177875136,정상회원,채소,뿌리채소,연근,통연근/세척(400g),1.0,수지구,풍덕천동,여,34.0,30대이하,7179,매장C,NaN,10:19

# 데이터 정렬

In [21]:
df1.sort_values(by='구매금액', ascending=False)
#df1.sort_values(by='컬럼명')->오름차순
#df1.sort_values(by='컬럼명',ascending=False)->내림차순

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
182163,2018-02-14,수,2,7,854303808,정상회원,채소,뿌리채소,산양삼,산양삼/7년근이상(5주),6.0,수지구,풍덕천동,여,52.0,50대,2751014,매장B,NaN,12:36
208148,2018-02-23,금,2,8,742461248,정상회원,양념/가루,장,메주,메주(1말:약6-7kg:솔뫼),9.0,분당구,정자동,남,106.0,70대이상,1688514,매장D,NaN,11:30
127674,2018-02-02,금,2,5,938963392,정상회원,간식,과자,한과/유과,한과모음3(1.2kg),20.0,수지구,상현동,여,40.0,40대,1588964,매장B,NaN,16:22
155255,2018-02-09,금,2,6,236805184,정상회원,건강,건강일반,건강/기타,홍삼/도라지절편모음(각 20g*5개),17.0,수지구,상현동,여,39.0,30대이하,1448255,매장B,NaN,12:17
585654,2018-06-01,금,6,22,153723200,정상회원,채소,버섯,상황버섯,린테우스상황버섯(200g/유),5.0,수지구,동천동,여,52.0,50대,1445383,매장A,NaN,18:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144210,2018-02-06,화,2,6,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,신봉동,여,54.0,50대,-499662,매장C,20180206.0,16:42
145272,2018-02-06,화,2,6,1031186176,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,51.0,50대,-499662,매장C,20180206.0,16:04
142077,2018-02-06,화,2,6,307284928,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-3.0,수지구,풍덕천동,여,53.0,50대,-499662,매장C,20180206.0,18:52
181579,2018-02-14,수,2,7,747242304,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,신봉동,여,54.0,50대,-666216,매장C,20180206.0,14:06
157876,2018-02-09,금,2,6,1529962048,정상회원,건강,건강일반,추출/농축액,흑염소진액(100ml*30봉),-4.0,수지구,풍덕천동,남,29.0,30대이하,-666216,매장C,20180206.0,16:59

In [22]:
df1.sort_values(by='구매수량',ascending=False)

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665636,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),50.0,수지구,풍덕천동,여,51.0,50대,57432,매장A,NaN,17:22
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
382065,2018-04-09,월,4,15,1230917760,정상회원,수산,소금,가공소금,볶은왕소금(500g),50.0,기타,기타,남,43.0,40대,162725,매장C,NaN,17:45
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612002,2018-06-07,목,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),-43.0,수지구,풍덕천동,여,52.0,50대,-98784,매장C,20180606.0,19:38
663461,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-57432,매장A,20180621.0,17:22
665066,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),-50.0,수지구,풍덕천동,여,51.0,50대,-201014,매장A,20180621.0,17:22
664534,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),-50.0,수지구,풍덕천동,여,51.0,50대,-90935,매장A,20180621.0,17:22
663462,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),-50.0,수지구,풍덕천동,여,51.0,50대,-114865,매장A,20180621.0,17:22

In [25]:
df1.sort_values(by=['구매수량','연령'], ascending=[False,True]).iloc[:10]
# ascending
# 먼저 구매수량은 내림차순으로 정렬후
# 그 후 같은 구매수량에서 연령에 따라 오름차순 정렬함
# 10명의 데이터 추출

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
382065,2018-04-09,월,4,15,1230917760,정상회원,수산,소금,가공소금,볶은왕소금(500g),50.0,기타,기타,남,43.0,40대,162725,매장C,NaN,17:45
386251,2018-04-09,월,4,15,1230917760,정상회원,반찬,절임/장아찌,절임,무쌈(300g),50.0,기타,기타,남,43.0,40대,191441,매장C,NaN,17:45
664021,2018-06-21,목,6,25,86983296,정상회원,채소,잎/줄기채소,깻잎,깻잎(30장),50.0,수지구,풍덕천동,여,51.0,50대,90935,매장A,NaN,17:22
665064,2018-06-21,목,6,25,86983296,정상회원,채소,콩나물,숙주나물,숙주나물(300g),50.0,수지구,풍덕천동,여,51.0,50대,201014,매장A,NaN,17:22
665065,2018-06-21,목,6,25,86983296,정상회원,채소,열매채소,풋고추,풋고추(150g),50.0,수지구,풍덕천동,여,51.0,50대,114865,매장A,NaN,17:22
665636,2018-06-21,목,6,25,86983296,정상회원,채소,버섯,팽이버섯,팽이버섯(150g),50.0,수지구,풍덕천동,여,51.0,50대,57432,매장A,NaN,17:22
607549,2018-06-06,수,6,23,548171456,정상회원,축산물,유제품,요구르트,블루베리요구르트(120ml),43.0,수지구,풍덕천동,여,52.0,50대,98784,매장C,NaN,10:35
659553,2018-06-20,수,6,25,157158656,정상회원,채소,열매채소,오이,오이(5개),40.0,수지구,신봉동,여,50.0,50대,168468,매장D,NaN,12:23
276072,2018-03-12,월,3,11,595068864,정상회원,양념/가루,가루,양념가루,카레(매운맛: 100g),40.0,수지구,신봉동,여,53.0,50대,206757,매장D,NaN,11:39
277720,2018-03-12,월,3,11,595068864,정상회원,양념/가루,가루,양념가루,카레(순한맛:100g),40.0,수지구,신봉동,여,53.0,50대,206757,매장D,NaN,11:39

# 데이터 필터 - 특정조건 걸기

In [30]:
# 데이터들의 개수를 항목별로 보고싶다 -> 보통 범주형 데이터에서 많이 쓴다.
df1['연령대'].value_counts()

40대      270573
50대      174458
30대이하    106392
60대       95019
70대이상     59096
Name: 연령대, dtype: int64

In [34]:
cond1=df1['연령대']=='40대'

In [35]:
df1.loc[cond1]   # cond1 앞에 ~ 붙어서 ~cond1이면 반대되는 조건으로 인식

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
0,2018-01-02,화,1,1,272369856,정상회원,과실,과일,사과,사과/유(1.5kg),1.0,수지구,풍덕천동,여,45.0,40대,22207,매장C,NaN,10:04
17,2018-01-02,화,1,1,1049686784,정상회원,간식,식사대용,식사대용/기타,닭고기볶음밥(300g),1.0,수지구,풍덕천동,여,40.0,40대,5743,매장C,NaN,10:31
18,2018-01-02,화,1,1,164510272,정상회원,채소,양념채소,양파,양파(2kg),1.0,수지구,풍덕천동,여,42.0,40대,8711,매장C,NaN,10:32
19,2018-01-02,화,1,1,1185171072,정상회원,양념/가루,가루,양념가루,카레(순한맛:100g),1.0,수지구,풍덕천동,여,47.0,40대,5169,매장C,NaN,10:37
20,2018-01-02,화,1,1,1206815744,정상회원,채소,양념채소,대파,대파(700g),1.0,수지구,풍덕천동,여,42.0,40대,5265,매장C,NaN,10:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705556,2018-06-30,토,6,26,572193664,정상회원,반찬,두부/유부,콩가공/기타,콩국물(300g),1.0,수지구,풍덕천동,여,46.0,40대,2202,매장A,NaN,13:48
705560,2018-06-30,토,6,26,1333795840,정상회원,반찬,밑반찬,김가공,김부각(50g),1.0,수지구,풍덕천동,여,41.0,40대,7275,매장A,NaN,15:28
705561,2018-06-30,토,6,26,1333795840,정상회원,채소,잎/줄기채소,브로컬리,브로컬리(250g),1.0,수지구,풍덕천동,여,41.0,40대,3982,매장A,NaN,15:28
705569,2018-06-30,토,6,26,1209779776,정상회원,간식,과자,스낵,하늘바다새우(60g),1.0,수지구,동천동,여,41.0,40대,3542,매장A,NaN,18:04
705570,2018-06-30,토,6,26,301961920,정상회원,음료,음료,빙과,포도꽁꽁(120ml)/매장용,1.0,수지구,풍덕천동,여,49.0,40대,1914,매장A,NaN,16:36

## 내가 궁금했던점 : loc 와 iloc의 차이?
#### loc : 데이터프레임의 행이나 컬럼에 label이나 boolean array로 접근
#### iloc : 데이터프레임의 행이나 컬럼에 인덱스값으로 접근

In [39]:
cond1=(df1['연령대']=='40대')
cond2=(df1['성별']=='남')
df1.loc[cond1 & cond2]

,공급일자,요일,공급월,공급주차,회원번호,조합원상태,물품대분류,물품중분류,물품소분류,물품명,구매수량,주소-구,주소-동,성별,연령,연령대,구매금액,구매매장,반품_원거래일자,구매시각
34,2018-01-02,화,1,1,570500992,정상회원,간식,떡,즉석떡,절편(170g),1.0,수지구,풍덕천동,남,47.0,40대,3829,매장C,NaN,11:19
38,2018-01-02,화,1,1,1314239168,정상회원,간식,과자,스낵,밥풀과자(120g),4.0,수지구,성복동,남,48.0,40대,20676,매장C,NaN,11:22
196,2018-01-02,화,1,1,850970432,정상회원,채소,뿌리채소,당근,당근(1kg),1.0,기흥구,보정동,남,45.0,40대,4786,매장C,NaN,17:11
197,2018-01-02,화,1,1,850970432,정상회원,축산물,알,유정란,동물복지유정란(10알/국내산),1.0,기흥구,보정동,남,45.0,40대,6892,매장C,NaN,17:11
328,2018-01-02,화,1,1,1090633856,탈퇴,채소,잎/줄기채소,시금치,시금치(300g),1.0,수지구,신봉동,남,41.0,40대,4403,매장D,NaN,17:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705197,2018-06-30,토,6,26,273041728,정상회원,반찬,즉석조리,간편요리,잡채(300g),1.0,수지구,풍덕천동,남,44.0,40대,9668,매장C,NaN,13:53
705258,2018-06-30,토,6,26,163435648,정상회원,수산,수산가공,젓갈/액젓,새우육젓(250g),1.0,수지구,풍덕천동,남,49.0,40대,26802,매장C,NaN,17:20
705334,2018-06-30,토,6,26,408947328,정상회원,축산물,소,한우(냉장),한우채끝(안심대안/200g/신선육),1.0,기타,기타,남,46.0,40대,23739,매장D,NaN,12:31
705335,2018-06-30,토,6,26,408947328,정상회원,반찬,두부/유부,두부,두부(1모:420g),1.0,기타,기타,남,46.0,40대,3733,매장D,NaN,12:31
705542,2018-06-30,토,6,26,932214976,정상회원,간식,빵,"식빵, 식사대용",쌀로만든잉글리쉬머핀(66g×4개)/매장,1.0,기타,기타,남,41.0,40대,7466,매장A,NaN,11:36

# 연습

In [40]:
# 30대 여성들의 데이터만 추출해서 구매금액이 높은순서대로 파일만들기
# 1번째 30대 여성 데이터 추출
# 2번째 구매금액 높은순서로 정렬
# 파일로 저장

In [46]:
cond1=(df1['연령대']=='30대이하')
cond2=(df1['성별']=='여')

df3=df1[cond1 & cond2].sort_values(by='구매금액',ascending=False)
df3.shape

(94886, 20)

In [49]:
# csv데이터 저장-> .to_csv()
df3.to_csv('result.csv', encoding='cp949')    # encoding='cp949'->한글 인코딩 지원하는 인코더 입력하기->글자가 깨지지않음